@font-face {
	font-family: "DFKai-SB";
	src: url("assets/fonts/kaiu.ttf");
}

* {
	box-sizing: border-box;
}

body {
	background: url("assets/star.gif");
	color: white;
	font-family: "Comic Sans MS", "DFKai-SB";
	font-size: 13px;
	margin-inline: max(0px, ((100% - 64rem) / 2));
	padding: 0 10px;
}

div {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	line-height: 1.4;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 1px;
}

td {
	max-width: 320px;
}

table:nth-of-type(1) {
	border: 1px solid white;
	background-color: #330033;
	td {
		border: 1px solid lightgreen;
		padding: 1px;
		margin: 1px;
	}
}

a {
	display: flex;
	text-decoration: none;
	color: yellow;
	margin-left: 2px;
	&:hover {
		color: red;
		text-decoration: underline overline;
		cursor: pointer;
	}
}

hr {
	width: 100%;
}

h1 {
	font-size: 32px;
	color: #99ffff;
}

marquee {
	width: 85%;
}
