@import "./normalize.scss";

* {
    box-sizing: border-box;
}

body {
    background: url("assets/texture.gif");
    color: #ccffcc;
}

div {
    text-align: center;
    font-family: "Comic Sans MS";
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 1px solid white;
    background-color: blue;
}

a {
    display: flex;
}
